<div *ngIf="identity" class="navigation col-lg-1">
  <h1>{{title}}</h1>
  <nav id="navigation">
    <a href="">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      Buscar
    </a>
    <a href="">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      Artistas
    </a>
    <a href="">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
      Albums
    </a>
    
  </nav>
  <nav id="user_logged">
    <span>
      {{identity.name}} {{identity.surname}}
    </span>
    <span class="btn btn-warning" (click)="logout()">Cerrar sesion</span>
    <a [routerLink]="['/mis-datos']">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      Mis datos
    </a>
  </nav>
  
</div>
<div class="clearfix"></div>
<div *ngIf="identity" class="central col-lg-11">
  <p>estas logeado</p>
  <router-outlet></router-outlet>
</div>

<div class="col-md-12" *ngIf="!identity">
  <div class="col-md-4">
    <h1>Inicia sesion</h1>
    <div *ngIf="errorMsg" class="alert alert-danger">
      <strong>Error</strong> {{errorMsg}}
    </div>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
      <p>
        <label>Correo:</label>
        <input type="email" #email="ngModel" name="email"  class="form-control" #email="ngModel" [(ngModel)]="user.email" required>
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control">
      </p>
      <input type="submit" name="" value="Ingresar" class="btn btn-primary" />
    </form>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <h1>Registrate</h1>
    <div *ngIf="alertRegister" class="alert alert-info">
      <strong>Info</strong> {{alertRegister}}
    </div>
    <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
      <p>
        <label>Nombre:</label>
        <input type="text" #name="ngModel" name="name" [(ngModel)]="user_register.name" class="form-control" required>
        <span *ngIf="!name.valid && name.touched">
          Este campo es obligatorio.
        </span>
      </p>
      <p>
        <label>Apellidos:</label>
        <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user_register.surname" class="form-control" required>
        <span *ngIf="!surname.valid && surname.touched">
          Este campo es obligatorio.
        </span>
      </p>
      <p>
        <label>Correo:</label>
        <input type="text" #email="ngModel" name="email" [(ngModel)]="user_register.email" class="form-control">
        <span *ngIf="!email.valid && email.touched">
          Este campo es obligatorio.
        </span>
      </p>
      <p>
        <label>Contraseña:</label>
        <input type="password" #password="ngModel" name="password" [(ngModel)]="user_register.password" class="form-control">
        <span *ngIf="!password.valid && password.touched">
          Este campo es obligatorio.
        </span>
      </p>
      <input type="submit" name="" value="Registrate" class="btn btn-success">
    </form>
  </div>
</div>