<div class="col-md-6">
<h1>{{titulo}}</h1>
<div *ngIf="alertUpdate" class="alert alert-info">
  <strong>Info</strong> {{alertUpdate}}
</div>
<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-10">
  <p>
    <label>Nombre:</label>
    <input type="text" #name="ngModel" name="name" [(ngModel)]="user.name" class="form-control" required>
    <span *ngIf="!name.valid && name.touched">
      Este campo es obligatorio.
    </span>
  </p>
  <p>
    <label>Apellidos:</label>
    <input type="text" #surname="ngModel" name="surname" [(ngModel)]="user.surname" class="form-control" required>
    <span *ngIf="!surname.valid && surname.touched">
      Este campo es obligatorio.
    </span>
  </p>
  <p>
    <label>Correo:</label>
    <input type="text" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control">
    <span *ngIf="!email.valid && email.touched">
      Este campo es obligatorio.
    </span>
  </p>
  
  <input type="submit" name="" value="Actualizar datos" class="btn btn-success">
</form>
</div>